@import '../../../app/variables.scss';
.error {
    color: red;
    width: 100%;
}
.paymentForm {
    color: $primary-color;
}

.strike {
    text-decoration: line-through;
}

.promo {
    background: $background-light;
    position: relative;
    width: 100%;
    height: 64px;
    border-radius: 0.5rem;
    font-weight: 400;
    color: $primary-color;
    box-shadow: 0 0 10px -8px black;

    .promoLabel {
        position: absolute;
        left: 10px;
        top: 50%; // Initial position inside the input
        transform: translate(0, -50%); // Center the label
        transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease; // Smooth transition for top, font-size, and color
        pointer-events: none;
        color: rgba($primary-color, 0.8);
    
    }
    
    .promoInput {
        width: 100%;
        padding: 32px 12px 10px 12px;
        font-weight: 200;
        font-size: 16px;
        border: none;
        border-radius: 4px; 
        &:focus {
            outline: none;
        } 
        &:not(:placeholder-shown) {
            outline: none;
        }
        &:focus ~ .promoLabel,
        &:not(:placeholder-shown) ~ .promoLabel {
            top: 35%; // Final position above the input
            font-size: 14px; // Smaller font size
            color: $background-dark; // Color change to indicate focus or content
        }

    }
}
