$primary-color: #023047;
$secondary-color: #FCF0D8;
$tertiary-color: #FFB703;

$background-light: #FEFEFE;
$background-medium-light: #E9ECEF;
$background-medium: #DEE2E6;
$background-dark: #343A40;
$background-secondary: #FFFAF0;

$primary-accent: #8ECAE6;
$secondary-accent: #DD9787;
$error: #ff5151;

$header-size: 4rem